spring:
  application:
    name: bff-test
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
management:
  security:
    enabled: false

feign:
  hystrix:
    enabled: true
